.FilterBar {
  width: 335px;
}

.FilterBar:not(:last-child) {
  margin-bottom: 15px;
}

.title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
  color: #202020;
}

.photoFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 18px;
}

.box{
  padding: 14px;
}

.title {
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  color: #202020;
  border-bottom: 0.5px solid #EAEAEA;
}


@media screen and (min-width: 768px) {
  .FilterBar {
    min-width: 363px;  
  }

  .photoFilter {
    padding: 22px 24px;
  }

}