.FilterBar {
  margin: auto;
  width: 335px;
}

.FilterBarTitle {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
  color: #202020;
}

.photoFilter {
  display: flex;
  align-items: center;
  padding: 16px 18px;
  margin-bottom: 15px;
}

.studentFilter{
  display: flex;
  align-items: center;
  margin-top: 31px;
}

.svg{
  margin-right: 10px;
}

.box{
  padding: 14px;
  margin-bottom: 15px;
}

.title {  
  margin: 0;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  color: #202020;
  border-bottom: 0.5px solid #EAEAEA;
}


@media screen and (min-width: 768px) {
  .FilterBar {
    min-width: 363px; 
    margin: 0; 
    margin-top: 40px;
  }

  .photoFilter {
    padding: 22px 24px;
  }

  .box{
    padding: 20px;
    margin-bottom: 15px;
  }

}