.SearchForm{   
    padding-top: 28px;
    padding-bottom: 20px;
}

.form{    
    text-align: center;
}

.FormLabel{
    position: relative;
}

.input{
    width: 335px;
    height: 48px;        
    background: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
}

input::placeholder {
    padding-left: 44px;
    font-size: 16px;
    line-height: 1.37;
    color:#ffffff;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder  {
    padding-left: 44px;
}

.icon,
.iconMarker{
    position: absolute;
    top: 12.5%;
    left: 18px;
    height: 17px;
    fill: #ffffff;
}
.iconMarker{
    top: 4%;
}

.button{
    width: 335px;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    background: #FFF9E4;
    border: none;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .SearchForm{
        padding-top: 80px;
        padding-bottom: 60px;
    }

    .input{
        width: 205px;
        height: 48px;       
        background: rgba(255, 255, 255, 0.15);
        border: none;
        border-radius: 8px;
        margin-bottom: 0;
        margin-right: 8px;
    }

    .InputPosition{
        width: 410px;
        height: 48px;
        background: rgba(255, 255, 255, 0.15);
        border: none;
        border-radius: 8px;
        margin-bottom: 0;
        margin-right: 8px;
    }
    
    input::placeholder {
        padding-left: 44px;
        font-size: 16px;
        line-height: 1.37;
        color:#ffffff;
    }

    .button{
        width: 199px;
        height: 48px;
    }

}