.Header{
    background-image: url(../../image/background.jpg);
    color: #FFFFFF;
    width: 100%;
    height: 230px;
}

@media screen and (max-width: 767px) {
    .Header{
        min-width: 375px;
        height: 280px;
    }
}

