.Footer{
    background-image: url(../../image/background.jpg);
    color: #FFFFFF;

}
.FooterList{

}
.list{

}
.title{

}
.items{

}
.SocialList{

}
.SocialItem {    
    width: 24px;
    height: 24px;
    align-items: center;
    cursor: pointer;
}
.FooterOther{

}
.text{

}